<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toast Translator</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/stremio.js"></script>
    <script src="/static/addonCard.js"></script>
    <script src="/static/installer.js"></script>
</head>
<body>
    
    <div class="container">
        <div class="title">
            <span class="toast">Toast</span>
            <span class="translator">Translator</span>
        </div>

        <div class="description" id="desc-head">
            <p>Versione 0.0.8</p>
            <p>Questo tool permette di tradurre i cataloghi di stremio.</p>
            <p>Effettua l'accesso al tuo account Stremio per caricare gli addon.</p>
        </div>

        <div class="add-group" hidden="true">
            <input type="text" id="addon-url" placeholder="URL dell'addon da aggiungere">
            <button type="add" onclick="loadAddon(document.getElementById('addon-url').value, true)">+</button>
        </div>

        <div class="login-group">
            <h2>Login</h2>
            <input type="email" id="stremio-email" placeholder="Stremio email">
            <input type="password" id="stremio-password" placeholder="Stremio password">
            <button onclick="stremioLogin()">Login</button>
        </div>

        <div id="addons-container"></div>

        <div class="translate-button" hidden="true">
            <button onclick="translateSelected(stremioUser.result.authKey, transteArray)">Applica</button>
            <button onclick="reloadAddons(stremioUser.result.authKey)">Ricarica Addons</button>
        </div>
    </div>

</body>
</html>
